{% extends 'anketa/hostnavbar.html' %}

{% block title %} Email {% endblock %} 


{% block home %} 
        <a class="nav-link active" href="{% url 'profile' %}"> Профил
          <span class="visually-hidden">(current)</span>
        </a>
{% endblock %}

{% block additional_login_out %}
    <a class="topright" id="login-out" href="{% url 'hostlogout' %}">
      <i class="fa-solid fa-user"></i> Odjavi se
    </a>
{% endblock %} 

{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}