{% extends 'anketa/hostnavbar.html' %}

{% block title %}  Добродошли! {% endblock %}

{% block additional_login_out %}
  {% if request.user.is_authenticated %}
      <a class="topright" id="login-out" href="{% url 'hostlogout' %}"
        ><i class="fa-solid fa-user"></i> Одјави сe
      </a>
      {% block home %}
        <a class="nav-link active topleft" id="1" href="{% url 'profile' %}"> Профил
          <span class="visually-hidden">(current)</span> 
        </a>
      {% endblock %}
  {% else %}
      <a class="topright" id="login-out" href="{% url 'hostlogin' %}">
        <i class="fa-solid fa-user"></i>  Улогуј се
      </a>
  {% endif %}
{% endblock %}

{%block content%}
<center>
  <div class='container-fluid'>
      <div class="card bg-light mb-3" style="max-width: 60rem;">
          <div class="card-header">Опис и Правила Анкете</div>
          <div class="card-body">
            <p class="card-text">
              Сврха ових анкета јесте чути мишљења наших драгоцених студената о разним темама које се тичу наших предавача и предмета на следећим смеровима: Информатика, Друмски Саобраћај, и Привредно Инзињерство.
              Имајте у виду да ће приступ анкети бити могућ само студентима који поседују тајни код, који ће им бити послат од стране нас. Молимо вас са посебном пажњом користите ове кодове како бисте омогућили гласање само студентима на одређеном смеру и години студија. Ваша сарадња у овом процесу је кључна како бисмо добили релевантне и корисне резултате.
              Као председник парламента, ваша улога је одабрати смер студија, тему анкете и годину студија. Потом, унесите питања која ће бити релевантна и значајна за студенте који учествују у анкети. Такође, одговорни сте за одређивање временског периода у којем ће анкети бити доступна.

              Хвала вам на вашем ангажовању и доприносу у стварању позитивног искуства за све наше студенте!
            </p>
      </div>
  </div>
</center>
{% endblock %}