{% extends "anketa/hostnavbar.html" %}

{% block title %} Ankete {% endblock %} 

{% block content %}
<center>
    <div class="card text-white bg-info" style="max-width: 40rem;">
        <br>
        <center>  
        {% if najnovije_stranice_anketa %}
            {% for anketa in najnovije_stranice_anketa %}
                <div class="card bg-secondary mb-3" style="max-width: 37rem;" style="padding-top: 20px">
                    <div class="card-header mt-auto d-flex justify-content-center">Анкета за {{ anketa.get_tip_ankete_display }} на {{ anketa.smer }} смеру и {{ anketa.godina }} години</div>
                    <div class="card-body">
                        <h4 class="card-title">{{ anketa.naziv }}</h4>
                        <p class="card-text">Анкета je доступна до {{ anketa.vreme_do }}</p>
                        <p class="card-text">Опис: {{ anketa.opis_ankete }}</p>
                    </div>
                    <div>
                        <a role="button" class="btn btn-success glasaj-btn" data-anketa-id="{{ anketa.id }}">Дај свој глас!</a>
                        <br></br>
                    </div>    
                </div>
            {% endfor %}

            {% if paginator.num_pages > 1 %}
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if najnovije_stranice_anketa.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page=1">&laquo;</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ najnovije_stranice_anketa.previous_page_number }}">{{ najnovije_stranice_anketa.previous_page_number }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item active"><a class="page-link" href="?page={{ najnovije_stranice_anketa.number }}">{{ najnovije_stranice_anketa.number }}</a></li>
                        {% if najnovije_stranice_anketa.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ najnovije_stranice_anketa.next_page_number }}">{{ najnovije_stranice_anketa.next_page_number }}</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link" href="?page={{ najnovije_stranice_anketa.paginator.num_pages }}">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% endif %}
            
        {% else %}
            <div>
                {% for poruka in alert_poruka %}
                    <p>{{ poruka }}</p>
                {% endfor %}
            </div>
        {% endif %}
        </center>
    </div>
</center>

{% for anketa in najnovije_stranice_anketa %}
 <div id="myModal{{ anketa.id }}" class="modal">
  <div class="modal-dialog" style="margin: 20% auto;">
    <div class="modal-content">
    
      <div class="modal-header">
        <div class="card-header mt-auto d-flex justify-content-center" style="text-align: right">Код за Приступ {{ anketa.id }}</div>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <center>
        <div class="modal-body">
            <div class="form-group">
                <form id="form-{{ anketa.id }}" method="post" action="{% url 'code_checker' 0  %}">
                    {% csrf_token %}
                    <input type="hidden" name="anketa_id" value="{{ anketa.id }}">
                    <label class="form-label mt-4" for="codetext">Молимо Вас унесите ваш 6-цифрени код</label>
                    <input type="text" name="codetextfield" class="form-control is-valid" id="inputValid-{{ anketa.id }}">

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Потврди</button>
                        <a href={% url 'available_anketas_for_students' %} type="button" class="btn btn-danger" data-dismiss="modal">Одустани</a>
                    </div>
                </form>
            </div>
        </div>
    </center>
    </div>
  </div>
 </div>
{% endfor %}


<center>
  <div class="card border-warning mb-3" style="max-width: 40rem;>
    <div class="alert alert-error">
        {% if messages %}
            {% for message in messages %}
            <div> 
                <p>{{ message }}</p>
            </div>
            {% endfor %}
        {% endif %}
    </div> 
   </div> 
</center>



<script>
    const popupbtns = document.querySelectorAll('.glasaj-btn');
    const modals = document.querySelectorAll('.modal');
    const modalClose = document.querySelector('.close');

    popupbtns.forEach((btn, index) => {
        btn.addEventListener('click', () => {
            const anketaId = btn.getAttribute('data-anketa-id');
            console.log('User clicked on anketa with ID:', anketaId);
            const modal = modals[index];
            modal.style.display = 'block';
            const form = modal.querySelector('form');
            form.action = "{% url 'code_checker' anketa_id=0 %}".replace('0', anketaId);
            const inputField = modal.querySelector('input[type="text"]');
            inputField.value = ''; 
        });
    });
        

    modalClose.addEventListener('click', () => {
        modals.forEach(modal => {
            modal.style.display = 'none';
        });
    });

    window.addEventListener('click', (e) => {
        modals.forEach(modal => {
            if (e.target === modal) {
                modal.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}
