body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
}


.form-container {
    width: 500px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #666;
    padding: 20px;
    margin-top: 50px;
  }
  
  form {
    width: 50%; 
  }

#loginbtn {
    background-color:rgb(69, 95, 241);
    align: center;
    position: relative;
}


h2 {
    text-align: left;
    margin-bottom: 20px;
    color: #444;
}

label, input[type="submit"] {
    display: block;
    margin-bottom: 10px;
}

#login-out {
    color:#f3f3f3;
}
.topright {
    position: absolute;
    top: 19px;
    right: 16px;
    font-size: 18px;
    text-decoration: none;
}
.topleft {
    position: absolute;
    top: 19px;
    font-size: 18px;
    text-decoration: none;
    color: purple;
}


#napravianketu {
    display: center;
}

#promenisifru {
    display: center;
}

#anketaguideinfo {
    margin:auto;
    border: 5px;
    display: left;
}
.col {
    height: 300px; /* Podešavanje visine kolona */
    display: inline-block;
    vertical-align: top;
    width: 33.33%;
    text-align: center;
}
.spacer {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
}

/* #naziv-ankete {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#savet-za-promenu {
   display: inline-block;
} */

